*.apk
*.deb
*.egg
*.egg-info
*.orig
*.pyc
*.rpm
*.tar.*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.trunk
/main
/yap
Icon?
Thumbs.db
artifacts
ehthumbs.db
examples/yap/pkg
examples/yap/src
examples/yap/yap
.vscode
.idea/
